@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: local("Pretendard Black"), url(./fonts/Pretendard-Black.woff2) format("woff2"),
    url(./fonts/Pretendard-Black.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: local("Pretendard ExtraBold"), url(./fonts/Pretendard-ExtraBold.woff2) format("woff2"),
    url(./fonts/Pretendard-ExtraBold.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard Bold"), url(./fonts/Pretendard-Bold.woff2) format("woff2"),
    url(./fonts/Pretendard-Bold.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard Regular"), url(./fonts/Pretendard-Regular.woff2) format("woff2"),
    url(./fonts/Pretendard-Regular.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard Light"), url(./fonts/Pretendard-Light.woff2) format("woff2"),
    url(./fonts/Pretendard-Light.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local("Pretendard Thin"), url(./fonts/Pretendard-Thin.woff2) format("woff2"),
    url(./fonts/Pretendard-Thin.woff2) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pretendard";
  overflow-x: hidden;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a,
a:hover {
  text-decoration: none;
}
ol,
li {
  list-style: none;
}
